~*.*

*.tmp

node_modules/*

*.log

*.xlsx

*.class

*.zip

*.jar
*.pdf

*.iml
*.apk
.gradle
/slides/*
/Android/local.properties
/Android/.idea/workspace.xml
/Android/.idea/libraries
.DS_Store
/Android/build
/Android/captures